########################################
# Ignore List
########################################
# Mono binaries (automatically downloaded by setup_mono.bat)
externals/Mono/bin/
externals/Mono/etc/
externals/Mono/include/
externals/Mono/lib/

# BuildInfo files
build/BuildInfo.json

# Build artifacts and general IDE files
[Dd]ebug/
[Rr]elease/

.vs/
.vscode/
*.sln
*.vcxproj
*.csproj
*.filters
*.user
../generated/
logs/
bin-int/
bin/
*.pdb
*.obj
*.log
*.tlog
*.lastbuildstate
*.idb
*.cache
*.txt

# ImGui settings
imgui.ini

# Premake
premake5.exe
premake.zip

# GameResources
Resources/

########################################
# Keep List
########################################
# Assimp Lib
!externals/assimp/lib/Debug/
!externals/assimp/lib/Release/